{% extends "CMSBundle:Templates:"~template|default(base_template) %}
{% block header %}
    {% include 'CMSBundle:Base:header.html.twig' %}
    {% if header.slider %}
        {{ render(controller('CMSBundle:Block:slider', { 'id': 'header'})) }}
    {% endif %}
    <div class="container">
        {% for key, type in app.session.flashbag %}
            {% for flash in type %}
                <div class="alert {{key}} fade in">
                    {{ flash }}
                    <button type="button" class="close" data-dismiss="alert">?</button>
                </div>
            {% endfor %}
        {% endfor %}
    </div>
{% endblock %}
{% block body %}
    <div class="container">
        <div class="row white-section">
            <div class="col-md-7">
                <h1>Клининговая компания “Бриллиант-групп” приветствует вас! </h1>
                <p>Клининговая компания Brilliant Group предлагает комплексные услуги в Санкт-Петербурге: уборка помещений, химчистка, мытье окон. Не откажем никому — без проблем проведем работы в жилой квартире, офисе, коттедже, торговом или промышленном помещении, ресторане.</p>
            </div>
            <div class="col-md-5"><img class="img-responsive image-wrapper" src="/bundles/cms/img/about.jpg" alt="клининг в Санкт-Петербурге" title="качественная уборка" width="470px" height="280px"></div>
        </div>
    </div>
    <div class="grey-fon">
        <div class="container">
            <h2>Перечень клининговых услуг</h2>
            <div class="row">
                <div class=" col-md-2 col-sm-3 col-xs-4 clear-left white-fon"><img class="image-wrapper img-responsive" src="/bundles/cms/img/main-page2.jpg" alt="Уборка помещений" width="170px" height="120px"></div>
                <div class="col-md-4 col-sm-9 col-xs-8">
                    <h3>Уборка помещений.</h3>
                    <p>Проведём комплексный клининг помещения — квартиры, загородного дома, офиса, ресторана. Уборка пройдет в соответствии с санитарно-эпидемиологическими нормами.</p>
                    <a class="right" href="{{ path('page_show',{'url':'uborka-pomeshhenij'}) }}" title="Уборка помещений">подробнее</a>
                </div>
                <div class="col-md-2 col-sm-3 col-xs-4 clear-left white-fon"><img class="image-wrapper img-responsive" src="/bundles/cms/img/chistka-mebeli-i-divanov.jpg" alt="Химчистка мягкой мебели" width="170px" height="120px"></div>
                <div class="col-md-4 col-sm-9 col-xs-8">
                    <h3>Химчистка мягкой мебели</h3>
                    <p>Для каждой обивки используем различные средства, чтобы не повредить саму мебель. Удалим пятна, засаленность, общее загрязнение и вернём изделию привлекательный вид.</p>
                    <a class="right" href="{{ path('page_show',{'url':'ximchistka-mebeli'}) }}" title="Химчистка мягкой мебели">подробнее</a>
                </div>
 
                <div class="col-md-2 col-sm-3 col-xs-4 clear-left"><img class="image-wrapper img-responsive" src="/bundles/cms/img/clean-carpet2.jpg" alt="Химчистка ковров" width="170px" height="120px"></div>
                <div class="col-md-4  col-sm-9 col-xs-8">
                    <h3>Химчистка ковров </h3>
                    <p>Всех типов и размеров. Используем безопасные и экологически чистые препараты и технологии. Нанесение вреда изделию исключено.</p>
                    <a class="right" href="{{ path('page_show',{'url':'ximchistka-kovrov'}) }}" title="Химчистка ковров">подробнее</a>
                </div>
                <div class="col-md-2 col-sm-3 col-xs-4 clear-left"><img class="image-wrapper img-responsive" src="/bundles/cms/img/win-clean3.jpg" alt="Мытье окон" width="170px" height="120px"></div>
                <div class="col-md-4 col-sm-9 col-xs-8">
                    <h3>Мытье окон.</h3>
                    <p>В офисах и квартирах, а также витрин в торговых и развлекательных учреждениях. Используем материалы и инструменты, которые не оставляют разводов и царапин.</p>
                    <a class="right" href="{{ path('page_show',{'url':'myte-okon'}) }}" title="Мытье окон">подробнее</a>
                </div>
            </div>
         </div>
    </div>
    <div class="container white-section inner">
        <h2>5 причин обратиться именно в нашу<br> клининговую компанию</h2>
        <div class="row reason-section">
            <div class="col-md-1 col-sm-2 col-xs-2"><img class="img-responsive" src="/bundles/cms/img/reason1.png" width="70px" height="70px"></div>
            <p class="col-md-5 col-sm-10 col-xs-10">Дорожим своей репутацией, а потому — выполняем любой заказ, будь то разовая уборка или долгосрочный абонемент, качественно и быстро. Только так можно завоевать доверие клиентов.</p>
            <div class="col-md-1 col-sm-2 col-xs-2"><img class="img-responsive" class="img-responsive" src="/bundles/cms/img/reason2.png"  width="70px" height="70px"></div>
            <p class="col-md-5 col-sm-10 col-xs-10">Подстраиваемся под вас. Наши сотрудники проведут уборку в то время, когда вам удобно и приедут по любому адресу. Услуги клининговой компании рассчитаны на самое главное — чтобы вам было удобно!</p>
            <div class="col-md-1 col-sm-2 col-xs-2"><img class="img-responsive" src="/bundles/cms/img/reason3.png" width="70px" height="70px"></div>
            <p class="col-md-5 col-sm-10 col-xs-10">Строго следим за соблюдением всех норм. Клининговая компания Brilliant Group не использует для уборки моющие средства, которые могут нанести вред здоровью человека или окружающей среде.</p>
            <div class="col-md-1 col-sm-2 col-xs-2"><img class="img-responsive" src="/bundles/cms/img/reason4.png"  width="70px" height="70px"></div>
            <p class="col-md-5 col-sm-10 col-xs-10">Нацелены на долгое сотрудничество. Даём приятные скидки постоянным клиентам, проводим консультации и предоставляем рекомендации по уходу за коврами, мебелью и другими элементами интерьера.</p>
            <div class="col-md-1 col-sm-2 col-xs-2"><img class="img-responsive" src="/bundles/cms/img/reason5.png"  width="70px" height="70px"></div>
            <p class="col-md-5 col-sm-10 col-xs-10">Заботимся о вашем имуществе. Применяем только те средства и инструменты для уборки, которые не нанесут вреда мебели, окнам, любым поверхностям и технике.</p>
            <div class="col-md-6"></div>
        </div>
    </div>
    <div class="promotion-fon">
        <div class="container">
        	<div class="col-md-offset-1 col-md-2"><img src="/bundles/cms/img/promotion.png" width="137px" height="138px"></div>
        	<p class="promotion-text col-md-6"><span>Следите за нашими акциями!</span> <br> У нас постоянно проходят акции</p>
        	<a class="btn-link col-md-offset-1 col-md-2"  href="{{ path('page_show',{'url':'akciya-dlya-klientov'}) }}">Подробнее
        	</a>
        	
        	

        </div>
    </div>
    <div class="grey-fon">
        <div class="container">
            <div class="row">
                <div class="col-lg-7">
                    <h2>Клининговая компания Brilliant Group заботится о своей репутации, высокое качество наших услуг обеспечивается:</h2>
                    <ul>
                        <li>подготовленным и вежливым персоналом;</li>
                        <li>большим опытом уборки всех типов помещений;</li>
                        <li>наличием специального оборудования;</li>
                        <li>использованием проверенных и сертифицированных моющих средств;</li>
                        <li>индивидуальным подходом ко всем клиентам.</li>
                    </ul>
                </div>
                <div class="col-lg-5"><img class="image-wrapper img-responsive" src="/bundles/cms/img/service.jpg" alt="клининг в Санкт-Петербурге" title="качественная уборка" width="470px" height="280px"></div>
            </div>
        </div>
    </div>
    {#{{ include('CMSBundle:Blocks:blocks.html.twig',{'items':news}) }}
    {% set options = {'type':'news','class':['new'],'carousel':'true','slides':2} %}
    {{ include('CMSBundle:Blocks:blocks.html.twig',{'items':news}) }}
    {% set options = {'type':'gallery'} %}
    {{ include('CMSBundle:Blocks:blocks.html.twig',{'items':news}) }}#}
    </div>
{% endblock %}