{% extends "CMSBundle:Templates:"~template|default(base_template) %}
{% block header %}
    {% include 'CMSBundle:Base:header.html.twig' %}
    {% if header.slider %}
        {{ render(controller('CMSBundle:Block:slider', { 'id': 'header'})) }}
    {% endif %}
    <div class="container">
        {% for key, type in app.session.flashbag %}
            {% for flash in type %}
                <div class="alert {{key}} fade in">
                    {{ flash }}
                    <button type="button" class="close" data-dismiss="alert">?</button>
                </div>
            {% endfor %}
        {% endfor %}
    </div>
{% endblock %}
{% block body %}
    <div class="container">
        Главная
    </div>
    {#{{ include('CMSBundle:Blocks:blocks.html.twig',{'items':news}) }}
    {% set options = {'type':'news','class':['new'],'carousel':'true','slides':2} %}
    {{ include('CMSBundle:Blocks:blocks.html.twig',{'items':news}) }}
    {% set options = {'type':'gallery'} %}
    {{ include('CMSBundle:Blocks:blocks.html.twig',{'items':news}) }}#}
{% endblock %}