<ul class="nav main">
	{% for page in pages %}
		{{ _self.display_tree(page,repo) }}
		<div class="divider"></div>
	{% endfor %}
</ul>

{% macro display_tree(page,repo) %}
	<li>
		{% if app.request.uri != page.path and page.lvl != 1 %}
			<a href="{{ path('page_show',{'url':page.path}) }}">{{ page.title }}</a>
		{% else %}
			<span class="visible-sm visible-xs">{{ page.title }}</span>
		{% endif %}
		{% set children = repo.children(page,true,'prior') %}
		{% if children|length > 0 %}
			<ul class="nav menu_level_{{page.lvl}}">
		    {% for child in children if child.enabled %}
		        {{ _self.display_tree(child,repo) }}
		    {% endfor %}
			</ul>
		{% endif %}
	</li>
{% endmacro %}